@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

html,
body,
#fullheight {
    min-height: 100% !important;
    height: 100%;
}

#grid > div {
    background-color: #4d4d4d;
}

#grid > div:hover {
    scale: 1.05;
    outline: 1px solid whitesmoke;
    color: black;
}

p {
    cursor: default;
}

#clear {
    grid-column: 1 / span 2;
    background-color: rgb(172, 57, 57) !important;
}

/* 0-key selector */
#zero {
    grid-column: 1 / span 2;
}

/* =-key selector */
#equals {
    grid-row: 4 / 6;
    grid-column: 4;
    background-color: rgb(0, 68, 108) !important;
}

/* arithmetic operators selectors */
#divide,
#multiple,
#subtract,
#add {
    background-color: rgb(102, 102, 102) !important;
}

.author {
    font-family: Share Tech Mono, sans;
}